/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f6f7;
    color: #333;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #9CCF37, #D1CBFD);
    color: #fff;
  }

  .navigation {
    display: flex;
    justify-content: center;  /* Center links horizontally */
    align-items: center;      /* Align items vertically (if necessary) */
    background-color: #FF9C51; /* Navbar color */
    width: 100%;              /* Ensure navbar spans the full width */
    position: fixed;          /* Fix navbar to the top of the page */
    top: 0;                   /* Align it at the top */
    left: 0;                  /* Full width */
    z-index: 10;              /* Make sure navbar is always on top */
    padding: 10px 0;          /* Padding for navbar */
}

.navigation a {
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s ease;
}
.navigation a:hover {
  background-color: #ddd;
  color: black;
}
.navigation a.active {
  background-color: #04AA6D; /* Active link color */
  color: white;
}
  header h1 {
    margin-top: 100px;
    font-size: 2.5rem;

  }
  
  header p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  /* Zine Gallery */
  .zine-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
  }
  
  .zine-card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .zine-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  
  .zine-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .zine-info {
    padding: 15px;
  }
  
  .zine-info h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: #9CCF37;
  }
  
  .zine-info p {
    font-size: 1rem;
    margin: 0 0 10px;
  }
  
  .zine-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #9CCF37;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s;
  }
  
  .zine-link:hover {
    background: #e4676e;
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    font-size: 0.9rem;
  }
  
  .zine-link-1-2 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #9CCF37;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s;
    margin-top: 50px;
  }
  
  .zine-link-4 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #9CCF37;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s;
    margin-top: 10px;
  }