* {
  font-family: monaco;
  list-style-type: none;
}

header {
padding: 20px;
background: linear-gradient(135deg, #9CCF37, #D1CBFD);
}

h1{
  padding: 1em;
}

img{
  display: block;
  width:100%
}
.center1 {
  display: block;
  margin-left: auto;
  width: 15%;
}

h2{
  text-align: center;
}

nav ul {
  top: 60px;
  right: 20px;
  position: absolute;
  display: flex;
  border: none;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul{
  a:hover {
    background-color: #9ccf37;
    color: #f2f2f2;
  }
}

header a {
  color: #000;
  display: block;
  padding: 0.5em 1em;
  border-top: 3px solid #ff9c51;
}

.navigation {
display:block;
text-align: center;
background-color: #d1cbfd;
overflow: hidden;
}

.navigation a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: #9ccf37;
  color: black;
}

.navigation a.active {
  background-color: #04AA6D;
  color: white;
}

.accordion {
  background-color: #9ccf37;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #caef81;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}
